.height {
    display: flex;
    flex-direction: column;
}

.flexBox {
    width: 96%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2.5%;
}

.right-wrapper {
    max-width: 400px;
    height: fit-content;
}

.right-wrapper img {
    border-radius: 24px;
    width: 100%;
}

.left-wrapper {
    width: 50%;
    height: fit-content;
}

.infoWrapper {
    width: auto;
}

.infoWrapper p {
    margin-top: 4px;
}

.infoContainer {
    border-radius: 33px;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-self: flex-end;
    margin-top: 20px;
}
/* Add additional styles as needed for your layout */
.buttonWrapper {
    display: flex;
    justify-content: flex-start; /* Align the button to the left */
    margin-top: 20px; /* Adjust the margin as needed */
}

.buttonWrapper {
    display: flex;
    justify-content: center; /* Align the button to the left */
    margin-top: 20px; /* Adjust the margin as needed */
}

.buttonWrapper-mobile {
    display: none;
}

.buttonWrapper button {
    background-color: #049dbf;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 38px;
    color: #fff;
    min-width: 100px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.navWrapperBorderBottom {
    margin-bottom: 0;
}

.edit-button {
    margin: 0 auto;
}

.section-title {
    font-size: 1.4em;
    font-weight: 600;
}

.profilePicture-mobile {
    display: none;
}

.infoContainer-mobile {
    display: none;
}

.signout-div-desktop {
    display: flex;
    margin-bottom: 5%;
}

.signout-div-mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .height {
        width: 94%;
        max-width: 94%;
        margin: 0 auto 8%;
    }

    .flexBox {
        margin-top: 0;
    }

    .bio {
        width: 95%;
        margin: 0 auto 4%;
    }

    .flexBox {
        flex-direction: column;
    }

    .left-wrapper {
        width: 100%;
    }

    .left-wrapper {
        min-height: 50px;
        height: auto;
    }

    .profilePicture {
        display: none;
    }

    .profilePicture-mobile {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
        margin: 4% auto;
    }

    .infoContainer {
        display: none;
    }

    .infoContainer-mobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .infoWrapper {
        width: 50%;
        text-align: center;
    }

    .section-title {
        text-align: center;
    }

    .buttonWrapper-mobile {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .buttonWrapper {
        display: none;
    }

    .buttonWrapper-mobile button {
        background-color: #049dbf;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 38px;
        color: #fff;
        min-width: 100px;
        border: none;
        font-size: 18px;
        font-weight: 600;
    }

    .signout-div-desktop {
        display: none;
    }

    .signout-div-mobile {
        display: flex;
    }

    .navWrapperBorderBottom {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .infoContainer-mobile h3 {
        font-size: 1.1em;
    }
}
