* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
}

.trip-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    background: white; /* Set the background color to white */
}
