.signupWrapper {
    width: 80%;
    border-radius: 33px;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}

.profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .signupWrapper {
        width: 90%;
    }

    .grid {
        grid-template-columns: 1fr;
    }
    input {
        width: 250px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}
