.editWrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 40%;
    padding: 1.2% 4% 2%;
    border-radius: 33px;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.editWrapper h1 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.editProfilePicture {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.editWrapper select {
    height: 61.78px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #7b7979;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: large;
    padding-left: 10px;
}

.bio-section textarea {
    width: 100%;
}
.biotext h3 {
    text-align: left;
}

.bioInput {
    min-height: 150px;
}
.bio-section {
    width: 100%;
}

.textInput {
    width: 403px;
}

#exp {
    width: 100%;
}

.edit-profile-buttons {
    margin-top: 40px;
}

.simp-btn {
    margin-bottom: 0 !important;
}

.buttonCenter {
    margin-top: 20px !important;
}

.upper-div {
    position: relative;
}

.closeEdit {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    cursor: pointer;
    margin-left: 20px;
    width: 40px;
    height: auto;
}

.fileFlexBox {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    border-radius: 24px;
    background-color: #049DBF;
    color: #fff;
    height: 50px;
    margin: 2% auto;
}

.fileFlexBox h3 {
    margin: 0;
}

.file-input {
    position: absolute;
    top: -2%;
    height: 50px;
}

@media only screen and (max-width: 500px) {

    .editWrapper {
        width: 96%;
        padding: 4% 0;
    }

    .profile-container {
        width: 96%;
    }

    .fileFlexBox {
        width: 80%;
    }

    .profile-container {
        margin: 0 auto;
    }

    .closeEdit {
        position: absolute;
        top: 0.75%;
        left: 0;
        padding: 10px 10px 10px 18px;
        margin-left: 0;
    }

    .textInput {
        width: 97%;
    }
}

@media only screen and (max-width: 400px) {

    .editWrapper {
        width: 96%;
    }

    .profile-container {
        width: 95%;
    }

    .editProfilePicture {
        width: 100%;
    }

    .textInput {
        width: 97%;
    }

    .fileFlexBox {
        width: 90%;
    }

    .closeEdit {
        position: absolute;
        padding: 10px 10px 10px 15px;
        width: 33px;
    }

}