h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 30px;
}

.textInput {
    width: 350px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #7b7979;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: large;
    padding-left: 10px;
}

.fileInput {
    text-align: center;
}

/* Style the file input container */
.file-input-container {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

/* Style the file input container */
.file-input-container h3 {
    text-align: center;
}

/* Style the file input */
.file-input {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* Style the file name display */
.file-name {
    margin-top: 5px;
    color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .loginWrapper {
        width: 90%;
    }
    .textInput {
        width: 250px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}
