.filter {
  margin-left: 4%;
  margin-top: 2%;
}

.filter-form {
  margin-bottom: 1%;
}

.trip-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: 2.5% auto;
  justify-content: space-between;
}

.trip-card {
  padding: 10px;
  border: 1px solid #000;
  width: 300px;
  margin-bottom: 30px;
}

.trip-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}
