.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 20px;
    margin-bottom: 20px;
}

.navWrapperBorderBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #747272;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.navLink {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.navLink2 {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}
.active {
    color: #049dbf;
}

.logo {
    width: 200px;
    z-index: 4;
}

.burgerMenuSvg {
    display: none;
}

.burgerMenuIcon {
    display: none;
}

.burgerMenu {
    display: none;
}

@media only screen and (max-width: 950px) {
    .burgerMenuIcon {
        display: block;
        cursor: pointer;
        z-index: 5;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    .burgerMenu {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 4;
        transform: translateY(-100%);
        transition: transform 0.5s ease-out;
    }

    .burgerMenuLinks {
        color: white;
        font-size: 30px;
        text-decoration: none;
        font-weight: 600;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burgerMenuOpen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #049dbf;
        width: 100%;
        height: 60vh;
        transition: transform 0.5s ease-out;
        z-index: 5;
        transform: translateX(0%);
        padding-top: 10rem;
    }

    .burgerMenuOpenBg {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        width: 100%;
        height: 100vh;
        z-index: 1;
        transform: translateX(0%);
        opacity: 0.4;
    }

    .navLinks {
        display: none;
    }

    .navLink {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
    }
}
