.signout-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% auto 0;
}

.signout-btn {
    background-color: #049DBF;
    color: #fff;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    border-radius: 38px;
    font-weight: 600;
    font-size: 18px;
}
