.flexBox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.name-and-bio {
    min-height: 400px;
}

.right-wrapper {
    max-width: 400px;
    max-height: 400px;
}

.right-wrapper img {
    border-radius: 24px;
    width: 100%;
}

.section-title {
    font-size: 1.4em;
    font-weight: 600;
}

.left-wrapper {
    width: 50%;
}

.infoWrapper {
    text-align: left;
}

/* Add the following styles to adjust the position of the image */
.editProfilePicture {
    margin-left: 20px; /* Adjust the margin as needed */
}

/* Add the following styles to create a box around the boat information */
.infoContainer {
    border-radius: 33px;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-self: flex-end;
    margin-top: 20px;
}
/* Add additional styles as needed for your layout */
.buttonWrapper {
    display: flex;
    justify-content: center; /* Align the button to the left */
    margin-top: 20px; /* Adjust the margin as needed */
}

.buttonWrapper-mobile {
    display: none;
}

.buttonWrapper button {
    background-color: #049dbf;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 38px;
    color: #fff;
    min-width: 100px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.trips-section {
    width: 100%;
    margin-top: 20px;
}

.trips-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2%;
}

.trip-card {
    width: 32%;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 2.5%;
}

.trip-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.trip-card h2 {
    font-size: 1.1em;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 243px; 
    white-space: nowrap;
}

.trip-card h3 {
    font-size: 1.1em;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 243px; 
    white-space: nowrap;
}

.trip-card p {
    font-size: 0.9em;
}

.profilePicture {
    border-radius: 12px;
    object-fit: cover;
}

.notrips {
    margin-left: 80px;
}

.edit-button {
    margin: 0 auto;
}

.profilePicture-mobile {
    display: none;
}

.infoContainer-mobile {
    display: none;
}

.signout-div-desktop {
    display: flex;
    margin-bottom: 5%;
}

.signout-div-mobile {
    display: none;
}

@media only screen and (max-width: 500px) {

    .height {
        width: 94%;
        max-width: 94%;
        margin: 0 auto 8%;
    }

    .left-wrapper {
        width: 100%;
    }

    .name-and-bio {
        min-height: 50px;
        height: auto;
    }

    .name-and-bio .section-title {
        margin-bottom: 3%;
    }

    .profilePicture {
        display: none;
    }

    .profilePicture-mobile {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
        margin: 7.5% auto;
    }

    .infoContainer {
        display: none;
    }

    .infoContainer-mobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .infoWrapper {
        width: 50%;
        text-align: center;
    }

    .boatInfoBox {
        width: 50%;
        text-align: center;
    }

    .trips-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 2%;
    }
    
    .trip-card {
        width: 49%;
        text-decoration: none;
        color: black;
        display: block;
        margin-top: 2.5%;
    }

    .section-title {
        text-align: center;
    }

    .trip-card h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 198px; 
        white-space: nowrap;
    }
    
    .trip-card h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 198px; 
        white-space: nowrap;
    }

    .buttonWrapper-mobile {
        display: flex;
        justify-content: center;
    }

    .buttonWrapper {
        display: none;
    }
    
    .buttonWrapper-mobile button {
        background-color: #049dbf;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 38px;
        color: #fff;
        min-width: 100px;
        border: none;
        font-size: 18px;
        font-weight: 600;
    }

    .signout-div-desktop {
        display: none;
    }

    .signout-div-mobile {
        display: flex;
    }

}

@media only screen and (max-width: 400px) {

    .trip-card h2 {
        font-size: 0.9em;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 172px; 
        white-space: nowrap;
    }
    
    .trip-card h3 {
        font-size: 0.9em;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 172px; 
        white-space: nowrap;
    }

    .trip-card p {
        font-size: 0.8em;
    }

}